.header-fixed{
    width: 100%;
}
body{
    margin-top: 110px;
}


section{
    border: 2px dashed red;
    min-height: 100px;
    width: 100%;
}

.container{
    border: 2px dashed goldenrod;
    min-height: 500px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid{
    border: 2px dashed lightgreen;
    min-height: 100px;
    width: 100%;
    margin: 0 auto;
}

[class^="col"]{
    border: 2px dashed purple;
    min-height: 100px;
   
}

.row{
    border: 2px dashed blue;
    min-height: 100px;
    width: 100%;
    margin:0 auto;
}

.button{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25%;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: blue;
    color:white
}

#logo-sony{
    width: 130px;

}

/* header */


/* Jumbo */

#main-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height:600px ;
    padding-top: 220px;
}
#second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height:600px ;
    padding-top: 40px;
}

.jumbotron{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


/* main */

section.news{
    background-color: #1F1F1F;

}

.ps-plus{
    background-color: #BEBCBB;
}
.ps-now{
    background-color: #161C3B;
}
