




.header-fixed{
    width: 100%;
    z-index:2
}
body{
    margin-top: 110px;
}
 


section{
    /* border: 2px dashed red; */
    /* min-height: 100px; */
    width: 100%;
}

h2{
    font-size: 35px;
}

.container{
    /* border: 2px dashed goldenrod; */
    min-height: 500px;
    width: 100%;
    margin: 0 auto;
}

.container-fluid{
    /* border: 2px dashed lightgreen; */
    min-height: 100px;
    width: 100%;
    margin: 0 auto;
}

[class^="col"]{
    /* border: 2px dashed purple; */
   
   
}

.row{
    /* border: 2px dashed blue; */
    min-height: 100px;
    width: 100%;
    margin:0 auto;
}

.button{
    display: inline-block;
    padding: 5px 10px;
    border-radius: 25%;
    font-size: 16px;
    line-height: 16px;
    text-decoration: none;
    cursor: pointer;
    background-color: blue;
    color:white
}


/* header */
header>[class^="col"]{
    padding-top:0;
}

#logo-sony{
    width: 130px;
}
/* Jumbo */

#main-jumbotron{
    background-image: url(../img/jumbo-bg.png);
    height:600px ;
    
}
#second-jumbotron{
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height:600px ;
    padding-top: 40px;
}

.jumbotron{
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#main-jumbotron .col-12{
    padding-top:225px
}

#second-jumbotron .col-12{
    padding-top:60px;
}

header a{
    text-decoration: none;
    color: black;
    font-size:17px
}

.fa-solid.fa-chevron-down{
    color:#B9B9B9
}

.col-6>ul{
    color: red
}

/* main */

section.news{
    background-color: #1F1F1F;

}

.ps-plus{
    background-color: #BEBCBB;
}
.ps-now{
    background-color: #161C3B;
}

.social img{
    cursor: pointer;
}

/* FOOTER */    
footer{
    background-color: #00439C;
}

#logo-footer{
    filter:brightness(50)
    
  

}